{% extends "default_layout.html" %}

{% block body %}
<link rel="stylesheet" href="https://pandao.github.io/editor.md/css/editormd.css" />
<link rel="stylesheet" href="https://pandao.github.io/editor.md/css/editormd.preview.css" />
<div>
    <a href="{{url_for('edit',fpath=fpath, md_type=md_type)}}">编辑</a>
    {% if md_type =='blog' %}
        <a href="{{url_for('delete_blog',fpath=fpath)}}">删除</a>
    {% else %}
        <a href="{{url_for('delete_draft',fpath=fpath)}}">删除</a>
    {% endif %}
</div>
<script src="http://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script src="https://pandao.github.io/editor.md/lib/marked.min.js"></script>
<script src="https://pandao.github.io/editor.md/lib/prettify.min.js"></script>
<script src="https://pandao.github.io/editor.md/editormd.min.js"></script>
<div id="blog_view">
    <textarea id="blog_content"></textarea>
</div>

<script type="text/javascript">
    var testEditor;
    $(function(){
    $.get("{{ url_for('data_request', fpath=fpath, md_type=md_type) }}",function(md){
            testEditor = editormd.markdownToHTML("blog_view", {
                markdown:md,
                width   : "90%",
                height  : 640,
                syncScrolling : true,
                path    : "/static/editormd/lib/",
                saveHTMLToTextarea: true,
                tex : true
            });
        });
    });
</script>
{% endblock %}