{% extends "default_layout.html" %}

{% block body %}

        <!--<link rel="stylesheet" href="/static/editormd/examples/css/style.css" />-->
        <link rel="stylesheet" href="https://pandao.github.io/editor.md/css/editormd.preview.css" />
        <link rel="stylesheet" href="https://pandao.github.io/editor.md/css/editormd.css" />
        <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
        <div id="layout">
            <header>
                <h1>标题:<input id="title" value="{{title}}">.md</h1>
            </header>
            <div id="message" hidden></div>
            <div><button id="save">存草稿</button><button id="publish">发表</button><a href="{{url_for('root')}}">返回</a></div>
            <div id="test-editormd">
                {% if md_path %}
                <textarea>
                </textarea>
                {% endif %}
            </div>
        </div>
<!--        <script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>-->
        <script src="https://pandao.github.io/editor.md/editormd.min.js"></script>
        <script type="text/javascript">

            function check_legal(title) {
                return true;
            }
            {% if md_path %}
                $("textarea").load('{{ url_for("data_request", fpath=md_path, md_type=md_type) }}', function() {
                testEditor = editormd("test-editormd", {
                    width   : "90%",
                    height  : 640,
                    syncScrolling : true,
                    path    : "/static/editormd/lib/",
                    tex : true,
                    saveHTMLToTextarea: true,
                    imageUpload : true,
                    imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                    imageUploadURL : "{{ url_for('upload_img') }}",
                    onload : function() {
                        console.log('onload', this);
                        //this.fullscreen();
                        //this.unwatch();
                        //this.watch().fullscreen();

                        //this.setMarkdown("#PHP");
                        //this.width("100%");
                        //this.height(480);
                        //this.resize("100%", 640);
                    }
                });
            {% endif %}
			var testEditor;
            $();
                var $date = "{{date}}";
                $("button#save").bind('click',function(){
                    var $md = testEditor.getMarkdown();
                    var $sendform = {title: $("#title").val(), md: $md, date: $date};
                    if (check_legal($("#title").val())){
                        $.post("{{url_for('save')}}", $sendform, function(message){
                            $("#message").text(message);
                            $("#message").show("fast",function(){
                                $("#message").delay(1000).hide("fast");
                            });
                        });
                    }
                });
                $("button#publish").bind('click',function(){
                    var $md = testEditor.getMarkdown();
                    var $html = testEditor.getHTML();
                    var $sendform = {title: $("#title").val(), md: $md, html: $html, date: $date};
                    if (check_legal($("#title").val())){
                        $.post("{{url_for('publish')}}", $sendform, function(redirect){
                            window.location = redirect
                        });
                    }
                });
                $("button#gethtml").bind('click',function(){
                    alert(testEditor.getHTML());

                });
            });
        </script>

{% endblock %}