{% extends "default_layout.html" %}

{% block body %}
<link rel="stylesheet" href="/static/css/pager.css">
<script src="/static/js/pager.js"></script>
<div id ="body">
    <div id="blog_list"></div>
    <div hidden id="pager">
        <ul class="pagination" id="page1"></ul>
        <div class="pageJump">
            <span>跳转到</span>
            <input type="text"/>
            <span>页</span>
            <button type="button" class="button">确定</button>
        </div>
    </div>
</div>

<script>
    $(function(){
        $.getJSON("{{url_for('get_all_blogs')}}",function(raw_details){
            raw_details.sort().reverse();
            var len=raw_details.length;
            var pages=parseInt((len + 9) / 10) ;
            if(len===0) {
                $("#pager").text("一篇文章也没有，来写文章吧！");
                $("#pager").show();
            }
            if(pages>=2){
                $("#pager").show();
            };

            var details = [];
            for (var i in raw_details){
                var raw_item = raw_details[i];
                var parsed_list = raw_item.split('/');
                details.push({"link":raw_item,"title":parsed_list[3],"Y":parsed_list[0],
                                "M":parsed_list[1],"D":parsed_list[2],
                                "edit_link":"edit/blog/"+raw_item,
                                "delete_link":"delete_blog/"+raw_item});
                //TODO:use url generator rather than manually typed url
            }
            for(var i=0;i<Math.min(len,10);i++){
                var item = details[i];
                $("#blog_list").append("<div><a href='/blog_view/blog/"
                                    + item.link
                                    + "'>" + item.title + "</a>"
                                    + item.Y + item.M + item.D
                                    + "<a href='" + item.edit_link + "'>编辑</a>"
                                    + "<a href='" + item.delete_link + "'>删除</a>"
                                    + "</div>");
            }
            Page({
                num: pages,
                elem: $('#page1'),
                callback: function(n) {
                    $("#blog_list").empty();
                    for(var i=10*(n-1);i<Math.min(10*n,len);i++){
                    var item = details[i];
                    $("#blog_list").append("<div><a href='/blog_view/blog/"
                                        + item.link
                                        + "'>" + item.title + "</a>"
                                        + item.Y + item.M + item.D
                                        + "<a href='" + item.edit_link + "'>编辑</a>"
                                        + "<a href='" + item.delete_link + "'>删除</a>"
                                        + "</div>");
                    }
                }
            });
        });
    });
</script>
{% endblock %}
